/** SCSS DARK THEME PRIMARY COLORS */ 
/** SCSS DARK THEME SURFACE COLORS */ 
/** SCSS DARK THEME MIXED SURFACE COLORS */ 
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  z-index: 0;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@media (max-width: 575px) {
  body, html {
    max-width: 100%;
    overflow-x: hidden;
  }
}
@keyframes drawLogo {
  0% {
    stroke-dasharray: 4500;
  }
  100% {
    stroke-dasharray: 0;
  }
}
@keyframes toUp {
  90% {
    top: 0px;
  }
  100% {
    top: -50vh;
  }
}
@keyframes toBottom {
  90% {
    bottom: 0px;
  }
  100% {
    bottom: -50vh;
    display: none;
  }
}
@keyframes openWord {
  0% {
    color: rgba(0, 0, 0, 0);
    letter-spacing: -1em;
  }
  10% {
    letter-spacing: -0.99em;
    color: rgba(0, 0, 0, 0);
  }
  25% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: white;
    letter-spacing: 1px;
  }
}
body {
  background-color: #121212;
}

.loading .loadingUp, .loading .loadingBottom {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: #282828;
}
.loading .loadingUp {
  animation: toUp 7s ease;
  top: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.loading .loadingUp .svgLogo {
  margin: 30px;
  height: 150px;
  width: 150px;
  stroke: white;
  stroke-width: 80px;
  stroke-dasharray: 0;
  animation: drawLogo 5s ease;
}
.loading .loadingBottom {
  bottom: 0px;
  animation: toBottom 7s ease;
  display: flex;
  align-items: flex-top;
  justify-content: center;
}
.loading .loadingBottom h1 {
  font-size: calc(30px + 1vw);
  margin: 30px;
  font-family: "Monoton", sans-serif;
  color: #5e43f3;
}
.loading .loadingBottom h1 span {
  letter-spacing: 1px;
  color: transparent;
  overflow: hidden;
  color: white;
  animation: openWord 8s ease;
}

@media (max-width: 750px) {
  .loading .loadingUp .svgLogo {
    margin: 70px;
  }
}
.main {
  width: 100vw;
  height: 800vh;
  background-color: #121212;
  display: flex;
  position: relative;
}
.main .main_cardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  height: 100vh;
}

@media (max-width: 990px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .main .main_cardSection {
    position: relative;
    height: auto !important;
  }
}
@keyframes appear {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.devCard {
  padding: 50px;
  margin: 80px;
  background: #2f2b3a;
  border: #908d96 1px solid;
  border-radius: 20px;
}
.devCard .devCard_logo {
  display: flex;
}
.devCard .devCard_logo div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.devCard .devCard_logo svg {
  width: 40px;
}
.devCard .devCard_logo h2 {
  margin-left: 20px;
  color: #5e43f3;
  font-family: "Monoton", sans-serif;
  font-size: 30px;
}
.devCard .devCard_logo h2 span {
  color: white;
}
.devCard .devCard_devImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
.devCard .devCard_devImage img {
  border-radius: 20px;
  width: 300px;
}
.devCard .devCard_stack, .devCard .devCard_localization {
  margin-bottom: 20px;
}
.devCard .devCard_stack h3, .devCard .devCard_localization h3 {
  font-size: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
}
.devCard .devCard_stack p, .devCard .devCard_localization p {
  font-weight: bold;
  font-size: 18px;
  color: white;
  font-family: "Maven Pro", sans-serif;
}
.devCard .devCard_buttons {
  margin-top: 40px;
}
.devCard .devCard_buttons .devCard_buttons_top {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.devCard .devCard_buttons .devCard_buttons_top button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border: 1px solid #908d96;
  cursor: pointer;
  background: none;
  border-radius: 10px;
  transition: 0.5s;
}
.devCard .devCard_buttons .devCard_buttons_top button img {
  width: 20px;
}
.devCard .devCard_buttons .devCard_buttons_top button:hover {
  transition: 0.5s;
  transform: translateY(-10px) scale(1.2);
}
.devCard .devCard_buttons .devCard_buttons_down button {
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #5e43f3;
  color: white;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}
.devCard .devCard_buttons .devCard_buttons_down button:hover {
  transition: 0.5s;
  transform: translateY(-10px);
}

@media (max-width: 1400px) {
  .devCard {
    padding: 20px;
    height: 90vh;
    margin-left: 50px;
  }
  .devCard .devCard_logo h2 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
  }
  .devCard .devCard_devImage {
    margin-bottom: 70px;
    margin-top: 10px;
  }
  .devCard .devCard_devImage img {
    width: 270px;
  }
  .devCard .devCard_stack, .devCard .devCard_localization {
    margin-bottom: 60px;
  }
  .devCard .devCard_buttons {
    margin-top: 70px;
  }
  .devCard .devCard_buttons .devCard_buttons_top button {
    width: 35px;
    height: 35px;
  }
  .devCard .devCard_buttons .devCard_buttons_down button {
    margin-top: 10px;
  }
}
@media (max-width: 990px) {
  .devCard {
    height: auto;
    margin: 20px 0px 0px 0px !important;
    width: 90vw;
    border-radius: 40px;
    padding: 40px;
  }
  .devCard .devCard_logo svg {
    width: 50px;
    margin-right: 20px;
  }
  .devCard .devCard_logo h2 {
    margin: 0px;
    font-size: 35px;
  }
  .devCard .devCard_devImage {
    margin-bottom: 70px;
    margin-top: 20px;
  }
  .devCard .devCard_devImage img {
    width: 100%;
  }
  .devCard .devCard_stack, .devCard .devCard_localization {
    margin-bottom: 30px;
  }
  .devCard .devCard_stack h3, .devCard .devCard_localization h3 {
    font-size: 16px;
  }
  .devCard .devCard_stack p, .devCard .devCard_localization p {
    font-size: 25px;
  }
  .devCard .devCard_buttons {
    margin-top: 80px;
  }
  .devCard .devCard_buttons .devCard_buttons_top button {
    width: 55px;
    height: 55px;
  }
  .devCard .devCard_buttons .devCard_buttons_top button img {
    width: 25px;
  }
  .devCard .devCard_buttons .devCard_buttons_down button {
    height: 60px;
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .devCard {
    width: 95vw;
  }
  .devCard .devCard_logo h2 {
    font-size: calc(18px + 1.3vw);
  }
  .devCard .devCard_devImage {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .devCard .devCard_devImage img {
    width: 100%;
  }
  .devCard .devCard_stack, .devCard .devCard_localization {
    margin-bottom: 30px;
  }
  .devCard .devCard_stack h3, .devCard .devCard_localization h3 {
    font-size: calc(10px + 1.3vw);
  }
  .devCard .devCard_stack p, .devCard .devCard_localization p {
    font-size: calc(16px + 1.3vw);
  }
  .devCard .devCard_buttons {
    margin-top: 50px;
  }
  .devCard .devCard_buttons .devCard_buttons_top button {
    width: 40px;
    height: 40px;
  }
  .devCard .devCard_buttons .devCard_buttons_top button img {
    width: 20px;
  }
  .devCard .devCard_buttons .devCard_buttons_down button {
    height: 50px;
    margin-top: 20px;
    font-size: 17px;
  }
}
.header {
  display: flex;
  z-index: 1000;
  margin-top: 65px;
  position: fixed;
}
.header .header_options {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: 0.5s;
  border-radius: 15px;
  font-size: 18px;
  margin: 10px 20px 10px 10px;
  border: 2px solid #908d96;
}
.header .header_options:hover {
  transform: scale(1.05) translateY(-5px);
  transition: 0.5s;
}
.header .header_options a {
  transition: 0.5s;
  padding: 15px 25px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.header .header_options a img {
  display: none;
}

@media (max-width: 1600px) {
  .header_options a {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .header_options {
    border-radius: 30px !important;
  }
  .header_options a {
    padding: 15px !important;
  }
  .header_options a span {
    display: none;
  }
  .header_options a img {
    display: flex !important;
  }
}
@media (max-width: 990px) {
  .header {
    z-index: 10000;
    width: -moz-min-content;
    width: min-content;
    border: 1px solid #908d96;
    border-radius: 20px !important;
    position: fixed;
    bottom: 20px;
    left: calc(50vw - 135px);
    display: flex;
    margin-top: 65px;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .header .header_options {
    margin: 0px !important;
    border: none;
  }
  .header .header_options:hover {
    transform: scale(1) translateY(0px);
  }
  .header .header_options a {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
  }
}
.hey {
  z-index: -1;
  margin-top: 140px !important;
  margin-left: 10px;
  height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.hey .hey_subTitle {
  background-color: #121212;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #717171;
  display: flex;
}
.hey .hey_subTitle p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
  color: white;
  font-weight: 600;
}
.hey .hey_description {
  margin: 50px 0px;
}
.hey .hey_description h2 {
  font-family: "Monoton", sans-serif;
  color: white;
  font-size: 70px;
}
.hey .hey_buttons {
  display: flex;
}
.hey .hey_buttons button {
  font-family: "Maven Pro", sans-serif;
  padding: 20px 40px;
  border-radius: 30px;
  border: none;
  margin-right: 10px;
  font-size: 20px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.hey .hey_buttons button:hover {
  transform: translateY(-10px) scale(1.1);
  transition: 0.5s;
}
.hey .hey_buttons .hey_buttons-resume {
  color: white;
  font-size: 20px;
}
.hey .hey_buttons .hey_buttons-resume img {
  margin-left: 10px;
}
.hey .hey_buttons .hey_buttons-works {
  color: white;
  font-size: 20px;
  background: #121212;
  border: 1px solid #908d96;
}
.hey .hey_buttons .hey_buttons-works img {
  margin-left: 10px;
}

@media (max-width: 1600px) {
  .hey .hey_subTitle p {
    font-size: 14px;
  }
  .hey .hey_description h2 {
    font-size: 55px;
  }
  .hey .hey_buttons .hey_buttons-resume {
    font-size: 17px;
  }
  .hey .hey_buttons .hey_buttons-works {
    font-size: 17px;
  }
}
@media (max-width: 1600px) {
  .hey .hey_description h2 {
    font-size: 45px;
  }
}
@media (max-width: 990px) {
  .hey {
    margin-top: 50px;
    margin-left: 5% !important;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .hey .hey_subTitle {
    background-color: #121212;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #717171;
    display: flex;
  }
  .hey .hey_subTitle p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-left: 10px;
    color: white;
    font-weight: 600;
  }
  .hey .hey_description {
    margin: 50px 0px;
  }
  .hey .hey_description h2 {
    font-family: "Monoton", sans-serif;
    color: white;
    font-size: 50px;
  }
}
@media (max-width: 750px) {
  .hey .hey_description h2 {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .hey {
    margin-top: 50px !important;
    padding: 5px 0px;
  }
  .hey .hey_buttons {
    display: flex;
    flex-direction: column;
  }
  .hey .hey_buttons button {
    padding: 0px;
    font-size: 30px;
    border-radius: 50px;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
  }
  .hey .hey_buttons button:hover {
    transform: translateY(0px) scale(1);
    transition: 0.5s;
  }
  .hey .hey_buttons button {
    margin-left: 0px;
  }
  .hey .hey_buttons .hey_buttons-resume {
    color: white;
    font-size: 20px;
    border: 1px solid #908d96;
  }
  .hey .hey_buttons .hey_buttons-resume img {
    margin-left: 10px;
  }
  .hey .hey_buttons .hey_buttons-works {
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    background: #121212;
    border: 1px solid #908d96;
  }
  .hey .hey_buttons .hey_buttons-works img {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */